// Bootstrap
$font-family-sans-serif: 'Roboto', sans-serif;

$enable-rounded: false;

@import 'bootstrap/scss/bootstrap';

.product-card {
    border: 1px solid transparent;
    &:hover {
        border: 1px solid $secondary;
    }
}
