// Bootstrap
$font-family-sans-serif: 'Roboto', sans-serif;

$enable-rounded: false;

@import 'bootstrap/scss/bootstrap';

.btn-black {
    @include button-variant(
        $background: $black,
        $border: $black,
        $hover-background: $white,
    );

    font-weight: 700 !important;
}

.product-card {
    border: 1px solid transparent;
    &:hover {
        border: 1px solid $secondary;
    }
}
